*{
  padding: 0px; margin: 0px;
}
.parent {
  width: 1000px;
  height: 10%;  
}
.header {
  background-color: aqua;
  width: 600px;
  height: 80px;
  padding: 15px;
  color: white;
  font-family: sans-serif;
}
.konten-kiri{
  width: 400px;
  height: 800px;
  float: left;
  box-sizing: border-box;
  padding: 25px;
}
.img1{
  width: 310px;
  height: 180px;
  margin-left: 7px;
}
.want{
  width: 325px;
  height: 50px;
  background-color: aqua;
  margin-top: 10px;
  margin-bottom: 20px;
  text-align: center;
  box-sizing: border-box;
  padding-top: 15px;
  font-style: italic;
  color: white;
}
.konten-kiri p{
  margin-left: 10px;
  font-family: sans-serif;
}
.konten-kiri span{
  color: aqua;
  font-weight:bold ;
}
.konten-kiri h2{
  font-family: sans-serif;
  color: aqua;
  margin-top: 45px;
}
.konten-kiri .img2{
  width: 350px;
  height: 180px;
  margin-left: -10px;
}

.konten-kanan{
  width: 630px;
  height: 800px;
  box-sizing: border-box;
  padding: 25px;
  border: 2px solid black;
}
.konten-kanan .b{
  display: inline-block;
  width: 120px;
  height: 30px;
  text-align: center;
  font-family: sans-serif;
  background-color: aqua;
  box-sizing: border-box;
  padding-top: 5px;
}
.box2, .box3, .box4{
  margin-top: 10px;
}
.konten-kanan h2{
  font-family: sans-serif;
  color: aqua;
  margin-top: 45px;
}
.konten-kanan ul li{
  color: aqua;
  font-family: sans-serif;
}